*{
     margin: 0;
     padding: 0;
}
/* ads */
.ads{
     height: 100vh;
     background-color: #94B49F;
     position: relative;
     display: flex;
     justify-content: center;
     align-items: center;
 }
 .ads_card{
     background-color: #E3CAA5;
     border-radius: 15px;
     width: 1050px;
     height: 400px;
     display: flex;
     transition: 0.7s;
 }
 
 .ads_card:hover{
     transform: scale(1.05);
 }
 
 .ads_card:hover > .ads_img{
     transform: rotate(-10deg);
 }
 
 .ads_img{
     width: 50%;
     transition: 0.7s;
 }
 .ads_img img{
     transform: scale(1) translate(-50px, -70px);
     filter: drop-shadow(5px 5px 5px #AD8B73);
 }
 .ads_text{
     width: 50%;
     display: flex;
     justify-content: center;
     flex-direction: column;
     padding: 30px 40px;
 }
 .ads_text h1{
     font-size: 30px;
     color: white;
     letter-spacing: 1px;
 }
 .ads_text p{
     margin-top: 20px;
     font-family: Georgia, 'Times New Roman', Times, serif;
     font-size: 20px;
     color: white;
     opacity: 0.7;
 }
 .ads_text button{
     width: max-content;
     margin-top: 20px;
     border: none;
     border-radius: 15px;
     padding: 10px;
     background-color: #FF7878;
     transition: 0.7s;
 }
 .ads_text button:hover{
     transform: scale(1.1);
 }
 .ads_text button a{
     color: white;
     font-family: 'Luckiest Guy', cursive;
     text-decoration: none;
     font-size: 20px;
 }